# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/myapp/node_modules
/cron/node_modules

# config
/myapp/config/db.json
/cron/config/db.json
/ml/db_config.py

# misc
/ml/.idea
/ml/*.pyc
.DS_Store

