extends layout

block content
  .container
    .h4 Welcome to #{title}
    p.text-info Recent Promotions
    table.table.table-striped
      tbody
        - promotions.forEach((promotion)=>{
          tr
            td.cell
              a(href="/search?keyword="+encodeURIComponent(promotion.NAME)) 
                strong #{promotion.NAME}
        - })
