doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mainStyleSheet.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    nav.navbar.bg-dark
      .navbar.float-left
        container.nav-tabs
          a.h3.text-white.nav-link(href="") Exchanging Currency
          a.h3.text-white.nav-link(href="") Sales Taxes
    block content
