extends layout
block resource
  link(rel="stylesheet", href='/stylesheets/loader.css')

block content
  .container
    .loader-container
      .loader-text
        h3.text-warning The product is not available on both countries, please try another keyword!