extends layout

block content
  .container#root
  script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
  script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
  

  script.
    const usProducts = !{JSON.stringify(us)};
    const chProducts = !{JSON.stringify(ch)};

  script(type="text/babel" src="/javascripts/products.js")
