extends layout

block content
  .container#root
  script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
  script(src="https://unpkg.com/babel-standalone@6/babel.min.js")
  

  script.
    const states = !{JSON.stringify(tax)};
    const exchangeRate = !{JSON.stringify(exchange)};
    const prices = !{JSON.stringify(usPrices)};
    const chnPrices = !{JSON.stringify(chnPrices)};
    const showRowNumber = true;

  script(type="text/babel" src="/javascripts/components.js")