extends layout
block resource
  link(rel="stylesheet", href='/stylesheets/loader.css')

block content
  #loader(style="display:none")
    .loader-container
      .loader
    .loader-text
      br
      p loading...
  .container
    .row
      .col-sm
      .col-sm
        form(method="POST", action="./recommend", onsubmit="$('#loader').show();$('.container').hide();")
          .form-group
            label(for="weight") Please input the capacity your luggage
          .row.no-gutters
            .col-sm-10
              input#weight.form-control(type="number",min=0,max=50,name="weight",required, autofocus="autofocus")
            .col-sm-auto
              span lbs
          .form-group.row
            label(for="direction") Trip Direction
            .col-sm
              select#direction.form-control(name="direction", required)
               option(value="1") From US To China
               option(value="2") From China To US
          <hr>
          button.btn.btn-primary(type="submit") Get Recommendation 
      .col-sm
