extends layout

block content
  .container
    table.table-hover
      thead.thead-inverse
        tr
          th.cell Item Name
          th.cell US price
          th.cell China Pirce
        tr
          td.cell todo
          td.cell #{info}
          td.cell #{info}
