extends layout

block content
  .container
    .row
      .col-sm
      .col-sm
        form(method="POST", action="./search")
          .form-group
            label(for="name") Please input the item you want to compare
            input#name.form-control(type="text", name="name",required, autofocus="autofocus",placeholder="name")
            <hr>
            button.btn.btn-primary(type="submit") Search
      .col-sm
