extends layout
block resource
  link(rel="stylesheet", href='/stylesheets/loader.css')

block content
  #loader(style="display:none")
    .loader-container
      .loader
    .loader-text
      br
      p loading...
  .container.my-xl-5
    .row
      .col-sm
      .col-sm
        form(method="POST", action="./search", onsubmit="$('#loader').show();$('.container').hide();")
          .form-group
            label(for="name") Please input the item you want to compare
            input#name.form-control(type="text", name="name",required, autofocus="autofocus",placeholder="name")
            span.col-form-label-sm Example:
              strong iphone 8, samsung galaxy s9
            <hr>
            button.btn.btn-primary(type="submit") Search
      .col-sm
