extends layout
block resource
  link(rel="stylesheet", href='/stylesheets/loader.css')

block content
  #loader(style="display:none")
    .loader-container
      .loader
    .loader-text
      br
      p loading...
  .container.my-xl-5
    .row
      .col-sm-2
      .col-sm-8
        form(method="POST", action="./search", onsubmit="$('#loader').show();$('.container').hide();")
          .form-group
            label(for="name") Please input the item you want to compare
            input#name.form-control(type="text", name="name",required, autofocus="autofocus",placeholder="name")
            span.col-form-label-sm Example:
              strong iphone 8, samsung galaxy s9
            br
            label.custom-control.custom-checkbox
              input(type="checkbox", onclick="handleClick(this)")#chnamecheck.custom-control-input
              span.custom-control-indicator
              span.custom-control-description use chinese keyword in JD
            input#chname.form-control(type="text", name="chname",placeholder="京东",disabled)
            hr
            button.btn.btn-primary(type="submit") Search
      .col-sm-2

  script.
    function handleClick(sender) {
      $("#chname").prop('disabled', (i, v)=>{return !v;});
      if (sender.checked && $("#name").val() && !$("#chname").val()) {
        $.ajax({
          method: "POST",
          url: "./search/translate",
          data: {name: $("#name").val()}
        })
        .done((result)=>{
          if (result.code == 1) {
            $("#chname").val(result.data);
          }
        });
      }
    }