extends user-layout
block content
  .container
    .row
      .col-sm-2
      .col-sm-8
        .h4.mt-5 Create a New User
        - if (errs) { errs.forEach(function(error) {
          .alert.alert-danger
            span #{error.msg}
        - }) }
        form(action="./", method="POST")
          label(for="email") Email
          input(type="email", name="email", autofocuse='autofocuse', placeholder='email', value=email||'',required)#email.form-control
          label(for="password") Password 
          input(type="password", name="password", placeholder='password', value=password||'',required)#password.form-control
          hr
          input(type="submit", name="submit", value="Create").btn.btn-primary.mr-2
          a(href="../login").btn.btn-secondary Login User
      .col-sm-2
      
